@import "var";

html {
  font-family: 'Exo 2', sans-serif;
  font-size: 10px;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
}

.code-wrapper,
.level-wrapper {
  flex: 1;
}

.level-wrapper {
  background: rgb(31, 29, 24);
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  padding: 2rem;
}

.level__nav-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $text-color-whiter;

  & .nav-elements__nextLevel,
  .nav-elements__prevLevel {
    padding: 0;
    cursor: pointer;
    font-size: 5rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: $text-color;
    transition: transform 0.2s;

    &:hover {
      color: white;
    }
  }

  & .nav-elements__nextLevel:active,
  .nav-elements__prevLevel:active {
    transform: scale(1.2);
  }

  & .nav-elements__level-number {
    font-size: 3rem;
    min-width: 18rem;
  }
}

.nav-elements__burger {
  cursor: pointer;
  transition: ease all 1s;
}

.burger__burger-line {
  position: relative;
  display: block;
  width: 3rem;
  height: 0.25rem;
  background-color: $text-color;
  margin: 0.6rem 0;
  border: none;
  line-height: 0;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.25rem;
    background-color: $text-color;
  }

  &::before {
    top: -1rem;
  }

  &::after {
    bottom: -1rem;
  }

  &:hover,
  &:hover:before,
  &:hover:after,{
    background-color: white;
  }
}

.nav-elements__level-progress {
  width: 35rem;
  height: 0.2rem;
  background-color: $level-progress-color;
  margin: 0.6rem 0;
  border: none;
  line-height: 0;
  position: relative;
}

.nav-elements__selector-name,
.nav-elements__selector-title {
  font-size: 1.8rem;
  color: $text-color-whiter;
  font-weight: 600;
}

.nav-elements__selector-title {
  font-weight: 300;
}

.nav-elements__selector-syntax {
  font-size: 2.4rem;
  color: $text-color;
}

.nav-elements__selector-hint,
.nav-elements__example-title,
.nav-elements__example-case {
  font-size: 1.5rem;
  color: $text-color-whiter;
}

.nav-elements__selector-hint {
  margin-bottom: 4.5rem;
}

.nav-elements__example-title {
  font-weight: 600;
}

.nav-elements__checkmark {
  margin-right: 3rem;
  position: relative;
  display: inline-block;
  width: 1.2rem;
  height: 2rem;
  top: -3px;
  transform: rotate(40deg);
  border-width: 0 0.4rem 0.4rem 0;
  border-style: solid;
  border-color: white;
  opacity: 0.2;
}

.level-progress__state {
  background-color: white;
  width: 35px;
  height: 0.2rem;
  position: relative;
  z-index: 2;

  &:after {
    content: "";
    position: absolute;
    right: -6px;
    top: -3px;
    height: 4px;
    width: 4px;
    border: solid 2px #2a231d;
    background-color: red;
    border-radius: 50%;
    z-index: -1;
  }
}

/*burger*/

.burger-opened {
  transform: rotate(90deg);
  transition: ease all 1s;
}
