@import "src/style/var";
@import "src/style/animation";

.table-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.table-area {
  width: 400px;
  height: 150px;
  perspective: 350px;
  position: relative;
}

.table-top {
  width: 100%;
  height: 100%;
  background-color: #dd992d;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transform: rotateX(30deg);
}

.table-top::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -10px;
  right: -10px;
  height: 20px;
  background-color: #94673c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px) {
  .table-area {
    width: 300px;
    height: 100px;
  }
}
